aiofiles
aioice
aiortc
annotated-types
anyio
av
blis
Brotli
datasets
dataclasses
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comtypes
confection
cryptography
cymem
dnspython
dotenv
fastapi
ffmpy
filelock
fsspec
google-crc32c
gradio
gradio_client
groovy
gTTS
h11
httpcore
httpx
huggingface-hub
idna
ifaddr
iniconfig
inquirerpy
Jinja2
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
murmurhash
networkx
numpy
orjson
packaging
pandas
pfzy
pillow
pluggy
preshed
prompt_toolkit
pycparser
pydantic
pydantic_core
pydub
pyee
Pygments
pylibsrtp
pyOpenSSL

pytest
python-dateutil
python-dotenv
python-multipart
pyttsx3
pytz

PyYAML
regex
requests
rich
ruff
safehttpx
safetensors
semantic-version
setuptools
shellingham
six
smart_open
sniffio
soundfile
spacy
spacy-legacy
spacy-loggers
srsly
starlette
sympy
thinc
tokenizers
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wasabi
wcwidth
weasel
websockets
wrapt
